.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
docs
inst/extdata/xgboost/models/
.DS_Store
**/.DS_Store
figure/
*.csv
*.tar.gz
*.Rproj
*.Rcheck/
other/*
!other/audits/
!other/audits/**/
!other/audits/**/*.R
!other/audits/**/README.md
!other/audits/**/*_audit.csv
other/audits/**/*_pbps_*.csv
Rplots.pdf
src/*.o
src/*.so
