.Rproj.user
.Rhistory
.RData
.Ruserdata
inst/doc
docs
.DS_Store
**/.DS_Store
figure/
*.csv
*.Rproj
other/*
!other/audits/
!other/audits/**/
!other/audits/**/*.R
!other/audits/**/README.md
!other/audits/**/*_audit.csv
other/audits/**/*_pbps_*.csv
